body{
    width: 100%;
    background-color: #fff9f2;
}

.navbar{
    padding: 20px 100px;
    background-color: white;
   
}

.logo{
    width: 100%;
  
}

.navcontent{
    margin-left: 250px;
    width: 50px;
    
}

.navcontent ul{
    display: flex;
    gap: 50px;
}

.navcontent ul li a{
    font-size: 18px;
}

.navbtn{
    background-color: #6d1830;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-size: 12px;
}



#section{
    width: 100%;
    height: auto;
    padding: 50px 100px;
}

#box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

#box1{
    width: 100%;
}

#box2{
    width: 100%;
}

.s1{
    background-color: #14394c;
    padding: 50px 100px !important; 
   
}

.s1box{
    gap: 700px;
}

.s1box1 h3{
    font-size: 35px;
    color: white;
}
.s1box1 p{
    margin-top: 10px;
    font-size: 16px;
    color: white;
    text-wrap: nowrap;
}

.s1box2 img{
    width: 70%;
}

.s2box{
    gap: 100px;
}

.s2box1 h3{
    font-size: 35px;
}

.s2box1 p{
    font-size: 18px;
    width: 90%;
}

.s2box2{
    text-align: center;
}

.s2box2 img{
    width: 70%;
    
}


.s3box{
    
    background-image: url(img/Rectangle\ 55.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.s3box1{ 
    text-align: center;
}

.s3box1 img{
    width: 50%;
}



.s3box2 h3{
    font-size: 35px;
    width: 100%;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.s3box2 p{
    margin-top: 20px;
    width: 60%;
    font-size: 18px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.s4{
    padding: 50px 300px !important;
}

.s4 div h3{
    text-align: center;
    font-size: 35px;
}

.s4 div p{
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.accordion{
    margin-top: 20px;
}
.accordion-button{
    background-color: #fff9f2;
}

.accordion-body{
    background-color: #fff9f2;
}


.s5{
    padding: 30px 0px !important;
}

.s5box{
    
    background-color: #14394c;
}

.s5box1 img{
    width: 50%;
}

.s5box2 h5{
    font-size: 30px;
    color: white;
    width: 70%;
}

.s5box2 p{
    font-size: 18px;
    color: white;
  
}


.s5btn{
    width: 40%;
}

.s5btn button{
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
}

.s5btn button a{
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.s6 div h5{
    text-align: center;
    font-size: 30px;
}

.s6boxes{
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 50px;
}

#s6box{
    width: 100%;
    border: 3px solid #eceae6;
    padding: 15px;
}

#s6author{
    display: flex;
    gap: 10px;
}

#s6author img{
    width: 20%;
   
}

footer{
    background-color: white;
    height: auto;
    width: 100%;
    
}

.s7{
   
    background-color: #711f36;
}


.s7box1{
    width: 100%;
}

.s7box1 h6{
    color: white;
    font-size: 20px;
}

.s7box1 p{
    color: white;
    font-size: 16px;
}

.s7box2{
    width: 100%;
    display: flex;
    gap: 20px;
}

.s7box2 input{
    width: 100%;
    padding: 0px 10px;
}

#s7btn {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: white;
}

#s7btn a{
    text-decoration: none;
    font-size: 14px;
    color: #711f36;;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    /* padding: 0px 20px; */
}




.s8list{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.s8list a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.s9{
    margin-top: 50px;
  
}
.s9box{
    border-top: 1px solid grey;
    padding-top: 20px;
}


.s9box2 a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}










@media screen and (max-width:963px) {
    .navbar{
        padding: 0px;
    }

    .navcontent{
        margin-left: 0px;
        width: 100px;
        
    }
    
    .navcontent ul{
        display: flex;
        gap: 0px;
    }
    
    .navcontent ul li a{
        font-size: 4vw;
    }
  
    .navbtn{
    display: none;
   }

   #section{
    padding:30px 20px;
   }

   #box{
    flex-direction: column;
    gap: 30px;
   }


  .s1{
    padding: 30px 20px !important;
  }

   .s1box{
    gap: 0px;
   }

   .s1box1 h3{
    font-size: 8vw;
   }

   .s1box1 p{
    font-size: 4vw;
    width: 80%;
    text-wrap: wrap;
   }

   .s1box2 img{
    display: none;
   }

   .s2box1 h3{
    font-size: 8vw;
   }

   .s2box1 p{
    font-size: 4vw;
    width: 100%;
   }

   .s2box2 img{
    width: 100%;
   }

   .s3{
    padding: 0px !important;
   }

   .s3box{
    background-size: cover;
    flex-direction: column-reverse !important;
    padding: 30px 10px;
    text-align: center;
   }

   .s3box1{
    text-align: justify;
   }

   .s3box1 img{
    width: 100%;
   }

   .s3box2 h3{
    font-size: 8vw;
   }

   .s3box2 p{
    width: 100%;
    font-size: 4vw;
   }

   .s4{
    padding: 30px 20px !important;
   }

   .s4 div h3{
    font-size: 6vw;
    text-align: justify;
   }

   .s4 div p{
    font-size: 4vw;
    text-align: justify;
    
   }

   .accordion-item h6{
    font-size: 4vw;
   }

   .s5box{
   
    flex-direction: column-reverse !important;
   }

   .s5box1 img{
    width: 100%;
   }
   .s5box2{
    padding: 30px 20px;
   }

   .s5box2 h5{
    text-align: center;
    width: 100%;
    font-size: 8vw;
   }

   .s5box2 p{
    text-align: center;
    width: 100%;
    font-size: 4vw;
    padding: 0px 30px;
   }

   .s5btn{
    width: 100%;
    text-align: center;
   }

   .s6 div h5{
    font-size: 5vw;
    text-align: justify;
   }

   .s6boxes{
    flex-direction: column;
    margin-top: 20px;
   }

   .s7box1 h6{
    font-size: 5vw;
   }

   .s7box1 p{
    font-size: 4vw;
   }

   .s7box2{
    flex-direction: column;
   }

   .s7box2 input{
    width: 100%;
    padding: 5px 10px;
   }

   #s7btn{
    width: 50%;
   }

   .s8box{
    align-items: normal !important;
   }

   .s9box{
    align-items: normal !important;
    gap: 10px;
}

.s9box1 img{
    width: 30%;
}

.s9box2{
    display: flex;
    gap: 30px;
}



}