body{
    width: 100%;
}

.logo{
    margin-left: 50px;
}


#navbtn{
    margin-left: 30px;
    font-size: 16px;
    font-weight: 600;
   
}



@media screen and (min-width:320px) and (max-width:990px){
    .logo{
        margin-left: 0px;
    
    }
   
    #navbtn{
        margin-left: -300px;
        margin-top: 10px;
    
    }

    .navbtn2{
        
        display: none;
    }
   
}



/* section1/hero */
.hero{
    padding: 20px 200px;
    width: 100%;
    background-color: #FFF9F2;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
.s1box1{
    width: 100%;
    
}
.s1box1 h2{
    padding-right: 50px;
    font-size: 40px;
    margin-top: 50px;
    font-weight: 500px;
}

.s1box1 p{
    margin-top: 20px;
    font-size: 18px;
    padding-right: 150px;
    color: black;
}

.btn1{
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #6d1830;
    border-radius: 5px;
}

.s1box1 img{
    width: 4%;
    margin-left: 5px;
    position: relative;
    bottom: 40px;
    left: 150px;
}
.s1box2{
padding: 50px;
    width: 100%;
   
}

.s1box2 img{
    width: 100%;
}

.s1review{
    font-size: 10px;
    color: #6B7280;
    position: relative;
    bottom: 40px;
    left: 150px;
            
}

/* responsiveness for hero section */
@media (min-width:320px) and (max-width:990px) {
    body{padding: 0px 5px;}
 .hero{display: flex;flex-direction: column;padding: 30px 50px;text-align: center;}
   .s1box1{text-align: center;}
  .s1box1 h2{text-align: center;font-size: 30px;padding: 0px 25px;margin-top: 5px;}
  .s1box1 p{text-align: center;padding: 0px 20px;font-size: 16px;}
  .btn1{ padding:20px 50px;margin-bottom: 10px;}
  .s1box1 img{position: relative;bottom: 0px;left: 0px;width: 6%;}
.s1review{position: relative;bottom: 0px;left: 0px;font-size: 12px;}
.s1box2{margin-top: 100px;}
}

