/* body{
    width: 100%;
} */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



.navbar{
    padding: 20px 100px;
    background-color: white;
   
}

.logo{
    width: 100%;
  
}

.navcontent{
    margin-left: 250px;
    width: 50px;
    
}

.navcontent ul{
    display: flex;
    gap: 50px;
}

.navcontent ul li a{
    font-size: 18px;
}

.navbtn{
    background-color: #6d1830;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-size: 12px;
}



/* section1/hero */
.s1{
    width: 100%;
    height: auto;
    padding: 50px 150px;
    background-color: #FFF9F2;
   
}
.hero{

    width: 100%;
   
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
.s1box1{
    width: 100%;
    
}
.s1box1 h2{
    padding-right: 50px;
    font-size: 40px;
    margin-top: 50px;
    font-weight: 500px;
}

.s1box1 p{
    margin-top: 20px;
    font-size: 18px;
    padding-right: 150px;
    color: black;
}

.btn1{
    padding: 10px 20px;
    
    background-color: #6d1830;
    border-radius: 5px;
}

.s1box1 img{
    width: 4%;
    margin-left: 5px;
    position: relative;
    bottom: 40px;
    left: 150px;
}
.s1box2{
/* padding: 50px; */
    width: 100%;
    text-align: center;
   
}

.s1box2 img{
    width: 80%;
}

.s1review{
    font-size: 10px;
    color: #6B7280;
    position: relative;
    bottom: 40px;
    left: 150px;
            
}

.s2{
    width: 100%;
    height: auto;
    padding: 30px 150px;
}

.s2box{
    width: 100%;
    text-align: center;

}

.s2box1{
    width: 100%;
}

.s2box2{
    width: 100%;
}

.s2box2 img{
    width: 50%;
}

.s3{
    width: 100%;
    height: auto;
    padding: 50px 150px;
}

.s3box{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.s3box1{
    width: 100%;
  
}

.s3box1 img{
    width: 70%;
}

.s3box2{
    width: 100%;
}

.s3box2 h2{
    font-size: 35px;
}

.s3box2 h6{
    font-size: 20px;
}




/* responsiveness for hero section */
@media screen and (min-width:320px) and (max-width:500px) {
    body{
        width: 100%;
        overflow-x: hidden;
    }

    .navbar{
        padding: 10px;
        position: sticky;
    }

    .navcontent{
        margin-left: 0px;
        width: 100px;
        
    }
    
    .navcontent ul{
        display: flex;
        gap: 00px;
    }
    
    .navcontent ul li a{
        font-size: 4vw;
    }

    .navbtn{
        display: none;
    }

   .s1{
    padding: 20px;
   }
   
 .hero{display: flex;flex-direction: column;justify-content: flex-start;align-items:center;text-align: center;gap: 30px;}

 .s1box1 h2{text-align: center;font-size: 8vw;padding: 0px 0px;}

 .s1box1 p{text-align: center;padding: 0px 0px;font-size: 4vw;}

 .btn1{ padding:20px 50px;}

 .s1box1 img{position: relative;bottom: 0px;left: 0px;width: 7%;}

 .s1review{position: relative;bottom: 0px;left: 0px; width: 10px;}

.s2{
    padding: 20px;
}

.s2box1 h6{
    font-size: 4vw;
}

.s2box2 img{
    width: 100%;
}

.s3{
    padding: 20px;
}

.s3box{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: normal;
}

.s3box1 img{
    width: 100%;
    margin-left: -20px;
}

.s3box2 h2{
    font-size: 7vw;
}

.s3box2 h6{
    font-size:4vw;
}

.s3box2 p{
    font-size:4vw;
}

}

